.carouselItem {
  height: 600px;
}
.catlog {
  border-radius: 15px;
}

@media screen and (width < 1000px) {
  .catlog {
    border-radius: 10px 10px 10px 10px;
  }
  .carouselItem {
    height: 250px;
  }
}
.imgCarousel {
  margin-left: -12%;
}
