@media screen and (width < 1000px) {
  .mobileMenu {
    display: block;
  }
}

.hamburger {
  position: absolute;
  top: 25px !important;
  right: 10px !important;
}

.mobileMenu {
  background: rgba(204, 240, 243, 0.6);
  position: absolute;
  top: 25px;
  right: 16px;
  z-index: 1000;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-bottom: 16px;
  box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.6);
}
